/* Large Devices, Wide Screens */

@media only screen and (max-width: 1154px) {
    .form-btn {
        margin-top: 30px;
        margin-right: 12px;
    }
    .other .info {
        width: 80%;
    }
    .apple {
        width: 40%;
    }
    .laptop img {
        width: 510px;
        height: 267px;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {
    .apple {
        margin-top: 30px;
    }
    .apple h2 {
        font-size: 2em;
        line-height: 35px;
        margin-bottom: 10px;
    }
    .apple .info {
        /*width: 70%;*/
    }
    .laptop img {
        width: 350px;
        height: 187px;
        margin: 50px 0;
    }
    .info-browser {
        width: 80%;
    }
    .form-control {
        margin-top: 30px;
    }
    .form-btn {
        margin-top: 30px;
    }
    .bot-med {
        margin-right: 20px;
    }
    .other .info {
        width: 80%;
    }
    .logo .igor {
        margin-left: 70px;
    }
}

@media only screen and (max-width: 767px) {
    .note {
        position: relative;
    }
    .apple {
        position: absolute;
        bottom: 95px;
        left: 110px;
        width: 60%;
    }
    .apple h2 {
        font-size: 2em;
        margin-bottom: 0.5em;
    }
    .laptop img {
        width: 610px;
        height: 367px;
    }
    .browser img {
        width: 100%;
        height: 100%;
    }
    .blok-features h3 {
        font-size: 30px;
    }
    .logo .igor {
        margin-top: 50px;
    }
    .logo .sienna {
        margin-top: 50px;
    }
}